/* styles.css */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Para evitar scroll horizontal */
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100vh;
}

header {
  background: #000;
  padding: 1rem;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.hero .links{
  color: #FFF;
}


h2{
text-align: center;
font-size: 40px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links li a {
  text-decoration: none;
  color: #FFF;
}

.dark-theme {
  background-color: #0000FF;
  color: #ffffff;
}

.light-theme {
  background-color: #FFFFFF;
  color: #000;
}

body.dark-theme .highlight {
  color: #FFFF00;
}

body.light-theme .skill{
  background-color: #000;
  color: #FFF;
  font-weight: bold;
}

body.light-theme .hobby{
  border-color: #000;
  color: #000;
  font-weight: bold;
}

body.dark-theme  .presentacion__contenido__articulo{
  color: #FFFFFF;
}

body.dark-theme .hero-text h1{
  color: #FFFFFF;
}

body.light-theme  .presentacion__contenido__articulo{
  color: #000;
}

body.light-theme .hero-text h1{
  color: #000 !important;
}

body.light-theme .hero-text p{
  color: #000 !important;
}



body.light-theme .highlight {
  color: #0000FF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: inherit;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #3498db;
}

.theme-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: inherit;
  transition: color 0.3s ease;
}

.theme-btn:hover {
  color: #3498db;
}

/* Estilo en modo oscuro */
.dark-theme .links {
  color: #000;
  font-size: 20px;
}

.dark-theme .btn{
  color: #FFFF00;
  font-size: 20px;
  font-weight: bold;
}

.light-theme .btn{
  color: #FF0000;
  font-size: 20px;
  font-weight: bold;
}  

.dark-theme .links:hover {
  background-color: #ffffff;
}

/* Estilo en modo claro */
.light-theme .links {
  color: #000;
}

.light-theme .links:hover {
  color: #ffffff;
}  

.hero-content {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between; /* Espacia entre texto y foto */
  gap: 1rem; /* Espaciado entre texto y la imagen */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.hero-text {
  flex: 1 1 40%; /* El texto ocupa el 60% del ancho */
  flex-wrap: nowrap;
}

.profile-photo {
  flex: 10 10 150px; /* La imagen ocupa un tamaño fijo */
  max-width: 200px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
}


.about, .skills, .hobbies, .experiencia, .proyectos, .formacion{
  /* padding: 2rem 1rem; */
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skill, .hobby {
  flex: 1 1 calc(25% - 1rem);
  padding: 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #000;
  color: #fff;
  margin-top: 10px;
}

.hero .hero-content .hero-text .links{
  background-color: aquamarine;
  font-size: 24px;
  color: #FFFFFF;
}


.btn{
  color: #FFFFFF;
  font-size: 20px;
}

.project-buttons{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 30px;
}

.project h3{
  margin-top: 0px;
}

.project{
  margin-top: 20px;
}

.forma, .proyectos-realizados{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}



.about{
justify-content: center;
}

span{
color: #FFFF00;
}

.skill{
background-color: #FFFFFF;
color: #000;
font-weight: bold;
}

.skill:hover, .hobby:hover{
background-color: #FFFF00;
color: #000;
font-weight: bold;
}

body.light-theme .skill:hover, .hobby:hover{
background-color: #FFFF00;
color: #000;
font-weight: bold;
}

figcaption{
font-size: 30px;
font-weight: bold;
}

/* === Estilos para Desktop (ancho mínimo de 1440px) === */
@media (min-width: 1440px) {

  .nav-links{
    display: flex;
   }

  .about, .presentacion__contenido__articulo{
    width: 90%;
    font-size: 1.5rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    font-weight: bold;
    line-height: 1.5;
  }

  .hero{
    padding-left: 50px;
  }  

  .hero .hero-content .hero-text h1{
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 50px;
    min-width: 300px;
  }  

  p{
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 50px;
  }    

  .skills, .hobbies{
    width: 90%;
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
 
}

/* === Estilos para Tablet (ancho entre 768px y 1439px) === */
@media (min-width: 768px) and (max-width: 1439px) {
  .nav-links{
    display: none;
   }  

   .hero-content{
    display: flex;
    flex-direction: column-reverse;
   }

   .forma, .proyectos-realizados{
    display: flex;
    flex-direction: column;
   }


   .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    margin-left: 20px;
   }   

   footer{
    font-size: 12px;
   }   

   .about, .presentacion__contenido__articulo, .hero-text{
    width: 95%;
    font-size: 1.5rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 20px;
  }    


  .hero .hero-content .hero-text .links p{
    background-color: aquamarine;
    font-size: 24px;
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
  }

}

/* === Estilos para Mobile (ancho máximo de 767px) === */
@media (max-width: 767px) {
   .nav-links{
    display: none;
   }

   .hero-content{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: center;
   }

   .forma, .proyectos-realizados{
    display: flex;
    flex-direction: column;
   }

   .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: 10px;
   }

   footer{
    font-size: 12px;
   }

   .about {
    width: 95%;
    font-size: 1.2rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 10px;
  }   


  .hero .hero-content .hero-text .links .presentacion__contenido__articulo{
    background-color: aquamarine;
    font-size: 24px;
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
  }


}



